# Notebook de los datos de turismo mundial por Pais y año  desde 1995 a 2023

In [ ]:
# Importo las librerías necesarias
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [ ]:
# Accedo a la url de datosmacro, para recolectar los nombres de los paises para construir la url de cada pais para acceder a sus datos. 
url = 'https://datosmacro.expansion.com/comercio/turismo-internacional'
respuesta = requests.get(url)
respuesta.status_code

200

In [ ]:
html = respuesta.content
soup = bs(html, 'lxml')

In [ ]:
# Accedo la tabla donde están los paises, y guardo cada uno de sus tag 'a', para recorerlos despues y quedarme con todos los nombres
lista_paises = []
paises =  soup.find('table', id="tb1")
paises = paises.find_all('tr')
for pais in paises:
    for a in pais.find_all('a'):
        lista_paises.append(a.text[:-4].lower())

In [ ]:
# Recorro cada ta 'a', quedandome con el nombre del país y modificandolos para cambiar los espacios por '-' y quitando las 'y'
lista_paises_new = []
for pais in lista_paises:
    pais = pais.split()
    if 'y' in pais:
        pais.remove('y')
    pais = '-'.join(pais)
    lista_paises_new.append(pais)

### Una vez conseguidos todos los nombres de paises preparados para construir las urls, recorro cada uno de ellos, accediendo a su código html.
### Me quedo con la tabla que contiene los datos que quiero y genero un diccionario con las claves los años y los valores los totales de turistas de ese año.

In [57]:
lista_paises = []
lista_paises_sin_datos = []
for pais in lista_paises_new:
    try:
        url = f'https://datosmacro.expansion.com/comercio/turismo-internacional/{pais}'
        respuesta = requests.get(url)
        html_pais = respuesta.content
        soup_pais = bs(html_pais, 'lxml') 
        datos =  soup_pais.find('table', id="tb0")#driver.find_elements(By.XPATH, '//*[@id="tb1"]/tbody/tr/td/a')
        datos = datos.find_all('tr')
        num_pais = {x: None for x in range(1995,2025)}
        for dato in datos[1:]:
            num_pais[int(dato.text[:4])] = int(dato.text[4:].replace('.', ''))
        num_pais['pais'] = pais
        lista_paises.append(num_pais)
        print(f'{pais} scrapeado con exito')
    except:
        print(f'El pais {pais} no pudo ser scrapeado')
        lista_paises_sin_datos.append(pais)

españa scrapeado con exito
alemania scrapeado con exito
reino-unido scrapeado con exito
francia scrapeado con exito
italia scrapeado con exito
portugal scrapeado con exito
estados-unidos scrapeado con exito
japón scrapeado con exito
china scrapeado con exito
andorra scrapeado con exito
emiratos-árabes-unidos scrapeado con exito
antigua-barbuda scrapeado con exito
albania scrapeado con exito
armenia scrapeado con exito
angola scrapeado con exito
argentina scrapeado con exito
austria scrapeado con exito
australia scrapeado con exito
azerbaiyán scrapeado con exito
bosnia-herzegovina scrapeado con exito
barbados scrapeado con exito
bangladés scrapeado con exito
bélgica scrapeado con exito
burkina-faso scrapeado con exito
bulgaria scrapeado con exito
baréin scrapeado con exito
burundi scrapeado con exito
benin scrapeado con exito
brunéi scrapeado con exito
bolivia scrapeado con exito
brasil scrapeado con exito
bahamas scrapeado con exito
bután scrapeado con exito
botsuana scrapeado con exito
bielorrusia scrapeado con exito
belice scrapeado con exito
canadá scrapeado con exito
El pais república-democrática-del-congo no pudo ser scrapeado
república-centroafricana scrapeado con exito
El pais república-del-congo no pudo ser scrapeado
suiza scrapeado con exito
El pais costa-de-marfil no pudo ser scrapeado
chile scrapeado con exito
camerún scrapeado con exito
colombia scrapeado con exito
costa-rica scrapeado con exito
cuba scrapeado con exito
cabo-verde scrapeado con exito
chipre scrapeado con exito
El pais chequia no pudo ser scrapeado
yibuti scrapeado con exito
dinamarca scrapeado con exito
dominica scrapeado con exito
república-dominicana scrapeado con exito
argelia scrapeado con exito
ecuador scrapeado con exito
estonia scrapeado con exito
egipto scrapeado con exito
eritrea scrapeado con exito
etiopía scrapeado con exito
finlandia scrapeado con exito
fiyi scrapeado con exito
El pais estados-federados-de-micronesia no pudo ser scrapeado
gabón scrapeado con exito
granada scrapeado con exito
georgia scrapeado con exito
ghana scrapeado con exito
gambia scrapeado con exito
guinea scrapeado con exito
grecia scrapeado con exito
guatemala scrapeado con exito
guinea-bisáu scrapeado con exito
guyana scrapeado con exito
hong-kong scrapeado con exito
honduras scrapeado con exito
croacia scrapeado con exito
haití scrapeado con exito
hungría scrapeado con exito
indonesia scrapeado con exito
irlanda scrapeado con exito
israel scrapeado con exito
india scrapeado con exito
irak scrapeado con exito
irán scrapeado con exito
islandia scrapeado con exito
jamaica scrapeado con exito
jordania scrapeado con exito
kenia scrapeado con exito
kirguistán scrapeado con exito
camboya scrapeado con exito
kiribati scrapeado con exito
comoras scrapeado con exito
san-cristóbal-nieves scrapeado con exito
corea-del-sur scrapeado con exito
kuwait scrapeado con exito
kazajistán scrapeado con exito
laos scrapeado con exito
líbano scrapeado con exito
santa-lucía scrapeado con exito
liechtenstein scrapeado con exito
sri-lanka scrapeado con exito
lesoto scrapeado con exito
lituania scrapeado con exito
luxemburgo scrapeado con exito
letonia scrapeado con exito
libia scrapeado con exito
marruecos scrapeado con exito
mónaco scrapeado con exito
moldavia scrapeado con exito
montenegro scrapeado con exito
madagascar scrapeado con exito
islas-marshall scrapeado con exito
El pais macedonia-del-norte no pudo ser scrapeado
malí scrapeado con exito
El pais myanmar no pudo ser scrapeado
mongolia scrapeado con exito
mauritania scrapeado con exito
malta scrapeado con exito
mauricio scrapeado con exito
maldivas scrapeado con exito
malaui scrapeado con exito
méxico scrapeado con exito
malasia scrapeado con exito
mozambique scrapeado con exito
namibia scrapeado con exito
níger scrapeado con exito
nigeria scrapeado con exito
nicaragua scrapeado con exito
países-bajos scrapeado con exito
noruega scrapeado con exito
nepal scrapeado con exito
nueva-zelanda scrapeado con exito
omán scrapeado con exito
panamá scrapeado con exito
perú scrapeado con exito
papúa-nueva-guinea scrapeado con exito
filipinas scrapeado con exito
pakistán scrapeado con exito
polonia scrapeado con exito
El pais estado-de-palestina no pudo ser scrapeado
palaos scrapeado con exito
paraguay scrapeado con exito
catar scrapeado con exito
rumanía scrapeado con exito
serbia scrapeado con exito
rusia scrapeado con exito
ruanda scrapeado con exito
arabia-saudita scrapeado con exito
islas-salomón scrapeado con exito
seychelles scrapeado con exito
sudán scrapeado con exito
suecia scrapeado con exito
singapur scrapeado con exito
eslovenia scrapeado con exito
eslovaquia scrapeado con exito
sierra-leona scrapeado con exito
san-marino scrapeado con exito
senegal scrapeado con exito
surinam scrapeado con exito
santo-tomé-príncipe scrapeado con exito
el-salvador scrapeado con exito
siria scrapeado con exito
El pais eswatini no pudo ser scrapeado
chad scrapeado con exito
togo scrapeado con exito
tailandia scrapeado con exito
tayikistán scrapeado con exito
timor-oriental scrapeado con exito
turkmenistán scrapeado con exito
túnez scrapeado con exito
tonga scrapeado con exito
El pais türkiye no pudo ser scrapeado
trinidad-tobago scrapeado con exito
tuvalu scrapeado con exito
taiwan scrapeado con exito
tanzania scrapeado con exito
ucrania scrapeado con exito
uganda scrapeado con exito
uruguay scrapeado con exito
uzbekistán scrapeado con exito
san-vicente-las-granadinas scrapeado con exito
venezuela scrapeado con exito
El pais viet-nam no pudo ser scrapeado
vanuatu scrapeado con exito
samoa scrapeado con exito
yemen scrapeado con exito
sudáfrica scrapeado con exito
zambia scrapeado con exito
zimbabue scrapeado con exito

In [ ]:
# Una vez que tengo todas las páginas y todos los datos que necesitaba creo un dataframe con la lista.
df = pd.DataFrame(lista_paises)
df = df.set_index('pais').reset_index()

In [67]:
df.head()

,pais,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2017,2018,2019,2020,2021,2022,2023,2024,1994,1993
0,españa,32971000.0,34027000.0,39553000.0,41892000.0,45440000.0,46402926.0,48565344.0,50330623.0,50853815.0,...,81868522.0,82808413.0,83509153.0,18933103.0,31180802.0,71659281.0,85169050.0,93759297.0,NaN,NaN
1,alemania,14847000.0,15205000.0,15837000.0,16511000.0,17116000.0,18983000.0,17861000.0,17969000.0,18399000.0,...,37452000.0,38881000.0,39563000.0,12449000.0,11688000.0,28463000.0,NaN,NaN,NaN,NaN
2,reino-unido,21719000.0,22936000.0,23215000.0,23710000.0,23341000.0,23212000.0,20982000.0,22307000.0,22787000.0,...,39543000.0,38664000.0,39418000.0,10714000.0,6287000.0,30741000.0,NaN,NaN,NaN,NaN
3,francia,60033000.0,62406000.0,66591000.0,70109000.0,73147000.0,77190000.0,75202000.0,77012000.0,75048000.0,...,86758000.0,89322000.0,90914000.0,41684000.0,48395000.0,NaN,NaN,NaN,NaN,NaN
4,italia,31052000.0,34080000.0,34692000.0,34933000.0,36516000.0,41181000.0,39563000.0,39799000.0,39604000.0,...,58253000.0,61567200.0,64513000.0,25190000.0,26888000.0,49811000.0,NaN,NaN,NaN,NaN

In [ ]:
# Guardo el dataframe en la carpeta datos donde están el resto de los datasets del EDA
df.to_csv('../data/turismo_mundial.csv')

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pais    178 non-null    object
 1   1995    162 non-null    float64
 2   1996    164 non-null    float64
 3   1997    165 non-null    float64
 4   1998    166 non-null    float64
 5   1999    166 non-null    float64
 6   2000    170 non-null    float64
 7   2001    170 non-null    float64
 8   2002    169 non-null    float64
 9   2003    169 non-null    float64
 10  2004    170 non-null    float64
 11  2005    172 non-null    float64
 12  2006    173 non-null    float64
 13  2007    175 non-null    float64
 14  2008    176 non-null    float64
 15  2009    174 non-null    float64
 16  2010    174 non-null    float64
 17  2011    173 non-null    float64
 18  2012    172 non-null    float64
 19  2013    172 non-null    float64
 20  2014    170 non-null    float64
 21  2015    170 non-null    float64
 22  2016    169 non-null    float64
 23  2017    169 non-null    float64
 24  2018    163 non-null    float64
 25  2019    156 non-null    float64
 26  2020    142 non-null    float64
 27  2021    134 non-null    float64
 28  2022    108 non-null    float64
 29  2023    2 non-null      float64
 30  2024    2 non-null      float64
 31  1994    1 non-null      float64
 32  1993    1 non-null      float64
dtypes: float64(32), object(1)
memory usage: 46.0+ KB