![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "100 Years of Sharck Attacks"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Ver cuanto de irracional es el miedo al ataque de un tiburón cuando se está en el mar"

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "La probabilidad de que te ataque un tiburón es muy baja"

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
# hipotesis_2 = ""
# hipotesis_3 = ""
# hipotesis_4 = ""
# hipotesis_5 = ""
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [1]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.read_csv(r'C:\Users\Vicen\Visual Code\The_Bridge\Personal_2506_dsft_thebridge\2-Analytics\EDA\EDA-SHARK-ATTACK\shark_attack_clean.csv')
fuente_1 = "Utilizo la Api de public.opendatasoft Shark Attack, " \
"en la que hay un registro de todos los ataques mundiales hechos por tiburones"
# df_2 = pd.DataFrame()
# fuente_2 = ""
# df_3 = pd.DataFrame()
# fuente_3 = ""
# df_4 = pd.DataFrame()
# fuente_4 = ""
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [2]:
# Primer dataset
df_1.head()

,Unnamed: 0,date,year,type,country,area,location,activity,name,sex,age,fatal_y_n,species,activity2
0,0,2023-05-13,2023,Unprovoked,AUSTRALIA,South Australia,Elliston,Surfing,Simon Baccanello,M,46,Y,White shark,Surfing
1,1,2023-04-29,2023,Unprovoked,AUSTRALIA,Western Australia,"Yallingup, Busselton",Swimming,male,M,Unknow,N,1m shark,Swimming
2,2,2022-10-07,2022,Unprovoked,AUSTRALIA,Western Australia,Port Hedland,Spearfishing,Robbie Peck,M,38,N,Bull shark,Fishing
3,3,2021-10-04,2021,Unprovoked,USA,Florida,"Fort Pierce State Park, St. Lucie County",Surfing,Truman Van Patrick,M,25.0,N,Unknow,Surfing
4,4,2021-10-03,2021,Unprovoked,USA,Florida,"Jensen Beach, Martin County",Swimming,male,M,Unknow,N,Unknow,Swimming

In [ ]:
# Siguiente dataset...
# df_2.head()